%nav#main-menu
  #logo
    %svg.fill-current.h-8.w-8.mr-2{:height => "54", :viewbox => "0 0 54 54", :width => "54", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"}
    %span.font-semibold.text-xl.tracking-tight Tailwind CSS
  .block.lg:hidden
    %button
      %svg.fill-current.h-3.w-3{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
        %title Menu
        %path{:d => "M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"}
  #navbar
    .text-sm.lg:flex-grow
      %a.mr-4{:href => "#responsive-header"}
        Docs
      %a.mr-4{:href => "#responsive-header"}
        Examples
      %a{:href => "#responsive-header"}
        Blog
    .cta
      %a{:href => "#"} Download